<footer class="col col-md-9 offset-md-3 pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md text-center">
      <img class="mb-4 d-block mx-auto" src="/files/logo.png" alt="" width="72" height="72">
      <small class="d-block mb-3 text-muted">Post Skull &copy; 2018-2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>Sections</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="javascript:void(0)">Cool stuff</a>
        </li>
        <li>
          <a class="text-muted" href="javascript:void(0)">Random feature</a>
        </li>
        <li>
          <a class="text-muted" href="javascript:void(0)">Team feature</a>
        </li>
        <li>
          <a class="text-muted" href="javascript:void(0)">Stuff for developers</a>
        </li>
        <li>
          <a class="text-muted" href="javascript:void(0)">Another one</a>
        </li>
        <li>
          <a class="text-muted" href="javascript:void(0)">Last time</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="javascript:void(0)">Team</a>
        </li>
        <li>
          <a class="text-muted" href="javascript:void(0)">Locations</a>
        </li>
        <li>
          <a class="text-muted" href="javascript:void(0)">Privacy</a>
        </li>
        <li>
          <a class="text-muted" href="javascript:void(0)">Terms</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Account</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a routerLink="/login" class="text-muted" href="#">Login</a>
        </li>
        <li>
          <a routerLink="/signup" class="text-muted" href="#">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
