<div class="container mb-5 py-5">
  <form (ngSubmit)="signup()" [formGroup]="form" class="form-signin col col-md-6 offset-md-3">

    <h1 class="text-center h3 mb-3 font-weight-normal">Signup</h1>

    <div class="form-group">
      <label for="username" class="sr-only">Username</label>
      <input formControlName="username" type="text" id="username" class="form-control" placeholder="Username">
      <small *ngIf="fieldHasErrors('username','required')" class="text-danger">Username is required!</small>
      <small *ngIf="fieldHasErrors('username','minlength')" class="text-danger">
        Username must be min 2 characters!
      </small>
    </div>

    <div class="form-group">
      <label for="email" class="sr-only">Email address</label>
      <input formControlName="email" type="email" id="email" class="form-control" placeholder="Email address">
      <small *ngIf="fieldHasErrors('email','email')" class="text-danger">Email is not in good format!</small>
    </div>

    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      <input formControlName="password" type="password" id="password" class="form-control" placeholder="Password">
      <small *ngIf="fieldHasErrors('email','email')" class="text-danger">Password is required!</small>
      <small *ngIf="fieldHasErrors('email','minlength')" class="text-danger">
        Password must be min 6 characters!
      </small>
    </div>

    <app-form-error [errors]="form.errors"></app-form-error>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
  </form>
</div>
