<form (ngSubmit)="changePassword()" [formGroup]="form" class="col col-md-6 offset-md-3 py-5">

  <h1 class="h3 mb-3 font-weight-normal py-2">Change password</h1>

  <div class="form-group">
    <label for="current_password">Current Password</label>
    <input formControlName="current_password" type="password" id="current_password" class="form-control" placeholder="Current Password">
    <small *ngIf="fieldHasErrors('current_password','required')" class="text-danger">
      Current password is required!
    </small>
    <small *ngIf="fieldHasErrors('current_password','minlength')" class="text-danger">
      Current password must be min 6 characters!
    </small>
  </div>

  <div class="form-group">
    <label for="password">New Password</label>
    <input formControlName="password" type="password" id="password" class="form-control" placeholder="New Password">
    <small *ngIf="fieldHasErrors('password','required')" class="text-danger">
      New password is required!
    </small>
    <small *ngIf="fieldHasErrors('password','minlength')" class="text-danger">
      New password must be min 6 characters!
    </small>
  </div>

  <app-form-error [errors]="form.errors"></app-form-error>

  <button class="btn btn-primary" type="submit">Change Password</button>
</form>
